@charset "UTF-8";

/* Modification style base */

body {
    color: white;
    background-color: black;
}

.enveloppe {
    max-width: 100%;
    margin: 0;
    background-color: #2b2b2b;
}

.grille {
    background-color: transparent;
    border: initial;
}

.grille section {
    border-radius: 0.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* Grid Layout */
/* Création d'une grille de 6 colonnes */

.grille {
    display: grid;
    grid-gap: 1rem;   
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 12rem);
    grid-template-areas:
    "tete tete tete tete tete tete"
    "gauche contenu contenu contenu contenu droite"
    "gauche contenu contenu contenu contenu droite"
    "pied pied pied pied pied pied";
}


.zone-entete {
    grid-area: tete;
}

.zone-barre-laterale-gauche {
    grid-area: gauche;
}

.zone-contenu {
    grid-area: contenu;
}

.zone-barre-laterale-droite {
    grid-area: droite
}

.zone-pied-page {
    grid-area: pied;
}