.boite {
  float: left;
  margin-right: 2.2%;
}


@media screen and (min-width: 701px) {
  .boite {
    width: 25.8%;
  }
  .boite:nth-of-type(3n+1) {
    clear: left;
  }
  .boite:nth-of-type(3n+3) {
    margin-right: 0;
  }  
}

@media screen and (max-width: 700px) {
  .boite {
    width: 42.9%;
  }

  .boite:nth-of-type(2n+1) {
    clear: left;
  }

  .boite:nth-of-type(2n+2) {
    margin-right: 0;
  }  
}

@media screen and (max-width: 400px) {
  .boite {
    width: 95%;
    float: none;
  }
}


